/* hide havigation for now */
.navigation {
    position: absolute;
    top: -8rem;
    right: -63rem;
    widows: 50rem;
    height: 100vh;
    background-color: #31363d;
    z-index: 100;
    display: flex;
    align-items: center;
    padding-left: 8rem;
    transform: rotateZ(-15deg);
    transition: all .6s;
}

.change .navigation {
    top: 0;
    right: 0;
    transform: rotateY(0);
}

.navigation .section-border {
    opacity: 0;
    visibility: hidden;
}

.change .navigation .section-border {
    opacity: 1;
    visibility: visible;
    transition: all .5s 0.7s;
}

.menu-icon {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 200;
}

.line {
    width: 3rem;
    height: .2rem;
    background-color: #bbb;
    transition: transform .3s;
}

.change .line-1 {
    transform: rotateZ(45deg) translate(.7rem, -.1rem);
}

.change .line-2 {
    transform: rotateZ(-45deg) translate(.7rem, -.1rem);
}

.nav-items {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.change .nav-items {
    opacity: 1;
    visibility: visible;
    transition: all .5s .7s;
}

.nav-items a {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #eee;
    margin: 1rem 0;
    transition: color 0.5s;
}

.nav-items a:hover {
    color: var(--theme-color);
}